$primary--color: white;
$secondary--color: #1c1c1c;
$lighter--secondary--color: #303030;
$lighter--primary--color: lighten($primary--color, 10%);
$complementary--color: #0282f9;
$icon--bg-color: #777777;
$darker--icon--bg-color: darken($icon--bg-color, 15%)